# Built application files
*.apk
*.ap_
*.aab

# Files for the build process
/*/build/
.gradle/
local.properties

# Android Studio and IDE-specific files
.idea/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml

# Crashlytics configurations
com_crashlytics_export_strings.xml

# Signing files (sensitive)
.signing/
*.keystore
*.jks

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Other common temporary files
captures/